# Prerequisites
*.d

# Object files
   *.o
   *.obj
   
# Linker output
   *.map
   *.exp
   
# Precompiled Headers
   *.gch
   *.pch
   
# Libraries
   *.lib
   *.a
   *.la
   *.lo
   
# Executables
   *.out
   
# Debug files
   *.dSYM/
   
   *.swp
   *.vim
   .DS_Store
   a.out	

